<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.shareplugin"
      version="0.1.0">
    <name>share</name>
    <description>share Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,share</keywords>


    <js-module src="www/share.js" name="SharePlugin">
        <clobbers target="KLG.plugins.share" />
    </js-module>

    <!-- android -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SharePlugin">
                <param name="ios-package" value="CDVSharePlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVSharePlugin.h" />
        <source-file src="src/ios/CDVSharePlugin.m" />
     </platform>
</plugin>