<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.SoftKeyboardPlugin"
      version="0.1.0">
    <name>SoftKeyboardPlugin</name>
    <description>SoftKeyboardPlugin Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,SoftKeyboardPlugin</keywords>


    <js-module src="www/softkeyboard.js" name="SoftKeyboardPlugin">
        <clobbers target="KLG.plugins.softkeyboard" />
    </js-module>

    <!-- android -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SoftKeyboardPlugin">
                <param name="ios-package" value="SoftKeyboardPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/SoftKeyboardPlugin.h" />
        <source-file src="src/ios/SoftKeyboardPlugin.m" />
     </platform>
</plugin>