<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.toastplugin"
      version="0.1.0">
    <name>toast</name>
    <description>Toast Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,toast</keywords>


    <js-module src="www/toast.js" name="ToastPlugin">
        <clobbers target="KLG.plugins.toast" />
    </js-module>

    <!-- android -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ToastPlugin">
                <param name="ios-package" value="CDVToastPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVToastPlugin.h" />
        <source-file src="src/ios/CDVToastPlugin.m" />
     </platform>          
</plugin>
