<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.loginplugin"
      version="0.1.0">
    <name>login</name>
    <description>login Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,login</keywords>


    <js-module src="www/login.js" name="LoginPlugin">
        <clobbers target="KLG.plugins.login" />
    </js-module>

    <!-- android -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LoginPlugin">
                 <param name="ios-package" value="CDVLoginPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVLoginPlugin.h" />
        <source-file src="src/ios/CDVLoginPlugin.m" />
     </platform>
</plugin>